canvas#Chart {
    max-width: 600px;
}
div#personnes-cadeux {
    display: flex;
    justify-content: center;
    align-items: center;
}
#AjouterContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#AjouterContainer button{
}