* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.containerCnx {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #352a2f;
    overflow: hidden;
}
.leftPart {
    background-image: url('../img/backgroundColor3.jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    background-position-x: -30%;
}

.containerFormCnx{
    width: 100%;
    padding: 20px;
    color: white;

}
.headerCnx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logoSimple{
    width: 300px;
    margin-bottom: -23px;
}
.btn-rond {
    font: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7276;
    box-shadow: white;
    cursor: pointer;
    margin-left: 20px ;
}
.btn-rond img{
    width: 35px;
}
.formCnx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*A rajouter */
    max-width: 700px;
    margin: 0 auto;
}
.formCnx input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #1a2035;
    border: 0;
    border-bottom: 2px solid #ff7276 ;
    color: #ff7276;
    font-size: 16px;
}
.formCnx button{
    font-family: inherit;
    border: 0;
    padding: 0;
    width: 90%;
    text-align: center;
    padding: 12px;
    background-color: #ff7276;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}
#mdp-oublier{
    text-decoration: none;
    color: #ff7276;
    margin-top: 14px;
}
.contantFormCnx {
    max-width: 500px;
    margin: 0 auto;
}
div#personnes_adresses_sexe {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    color: white;
}
form#inscription :nth-child(5) > label {
    display: none;
}
#personnes_adresses_nouvelleAdresse{
    background: none;
    color: white;
    padding: 0;
    border: none;
}
button#ajoutButton{
    width: 100%;
    margin-top: 16px;
}
input {
    height: 40px;
}
@media screen and ( max-width: 768px ){
    .leftPart{
        display: none;
    }
}
body{

    overflow: hidden;
}