label{
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
}
input {
    height: 3em;
}

.btn-primary {
    background-color: #ef4b4b;
    border-color: #ef4b4b;
    font-size: 18px;
}
.btn-primary:hover{
    background-color: #bf232b;
    border-color: #bf232b;
}
a{
    text-decoration: none !important;
    color: #eee !important;
}

.navbar.navbar-light{
    padding: 0;
    background-color: #ef4b4b;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #eee !important;
    font-family: cursive, sans-serif;
}
.userCompte img{
    width: 45px;
}
.nav-title{

}
/*Style date picker*/
.datepicker-container.datepicker-dropdown.datepicker-top-left {
    z-index: 99999 !important;
}
/*Style date picker*/
/*Style tableau*/
.card.shadow.mb-4 {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
}
/*Style tableau*/

/*Style icon in tableaux*/
    tr td, th{
        text-align: center;
    }
/*Style icon in tableaux*/