{% extends 'base.html.twig' %}

{% block title %}Hello SouhaitController!{% endblock %}

{% block body %}
    <h1>Cadeaux pour les souhaits</h1>
    <div id="listeCadeaux">
        <button id="mesCadeaux">Mes souhaits</button>
        <button id="tousCadeaux">Tous les cadeaux</button>
    </div>
    <!-- Table content-->
    <table id="souhait">
        <theader>
            <tr>
                <th>Nom</th>
                <th>Age</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Ajouter</th>
            </tr>
        </theader>
        <tbody id="content">
        </tbody>
    </table>
    <div id="msg-if-vide"></div>
    <div id="personnes-cadeux">

    </div>

{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(function() {
          $.ajax({
            url: '/souhait/cadeaux',
            type: 'GET',

            success: function(response) {
                let i = 0;
                let data = Object.values(response);
                data.forEach(function(cadeau) {
                    let idAjout = 'a-ajout-' + cadeau["idCadeau"];
                    let idAnnuler = 'a-annuller-' + cadeau["idCadeau"];
                    let classTrIsIn = '';
                    if(cadeau['isIn']){
                        img = '<img src="{{ asset('icones/remove.png') }}" />';
                        classTrIsIn = 'monCadeau';
                    } else {
                        img = '<img src="{{ asset('icones/plus.png') }}" />';
                        classTrIsIn = 'cadeau';
                    }
                    let tr = '<tr class="'+classTrIsIn+'">' +
                    '<td>'+cadeau["nom"]+'</td>' +
                    '<td>'+cadeau["age"]+'</td>' +
                    '<td>'+cadeau["prix"]+'</td>' +
                    '<td>'+cadeau["categorie"]+'</td>' +
                    '<td><a href="" id="'+idAjout+'">'+ img +' </a></td>' +
                    '</tr>'
                    $('#content').append(tr);

                    $('#' + idAjout).on('click', function(event) {
                        event.preventDefault();
                        let imgSrc = $('#' +idAjout +' img').attr('src');
                        if (imgSrc != '/icones/plus.png') {
                            //Ajax supprimer à la liste des souhaite
                            $.ajax({
                                url: '/souhait/supprimer/'+cadeau["idCadeau"],
                                type: 'POST',

                                success: function(response) {
                                  $('#' +idAjout +' img').attr('src', "{{ asset('icones/plus.png') }}");
                                  $('#' + idAjout).closest('tr').attr('class', 'cadeau');
                                  $('#' + idAjout).closest('tr').css('visibility', 'collapse');
                                },
                                error: function(response) {
                                  console.log('[prob] img supp persiste!');
                                }
                            });
                        } else {
                            //Ajax ajouter à la liste des souhaite
                            $.ajax({
                                url: '/souhait/ajouter/'+cadeau["idCadeau"],
                                type: 'POST',

                                success: function(response) {
                                  $('#' +idAjout +' img').attr('src', "{{ asset('icones/remove.png') }}");
                                    $('#' + idAjout).closest('tr').attr('class', 'monCadeau');
                                },
                                error: function(response) {
                                  console.log('[prob] img ajout persiste!');
                                }
                            });
                        }
                    });
                })
            },
            error: function(response) {
                console.log('[prob]  $(document).ready(function() {...}')
            }
          });
        });
        $('#mesCadeaux').on('click', function(){
            $('.cadeau').each(function () {
                $(this).css('visibility', 'collapse');
            });
        });
        $('#tousCadeaux').on('click', function(){
            $('.cadeau').each(function () {
                $(this).css('visibility', 'visible');
            });
        });
    </script>
{% endblock %}